/* BUG 1: can't split content into discrete sections - necessary for Hooks */

/* HOMEPAGE CSS */
/* CSS for top-level divs in Homepage */
* {
    font-family: Garamond sans-serif;
}

.homeHeader {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.homeLanding {
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-bottom: 3px;
}

.homeCriteria {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FEFEFE;
}


/* Navbar CSS */
.homeHeader .nav {
    width: 480px;
    height: 20px;
    background-color: white;
    text-align: center;
}
  
.homeHeader .nav a {
    font-size: 17px;
    color: rgb(17, 10, 56);
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
}

/* Makes button colour change when hovering */
.nav a:hover {
    color: white;
    background-color: rgb(10, 10, 90);
    padding: 13px 25px;
    border-radius: 8px;
}

/* Log In button is at the right corner of Homepage */
#signuporlogin {
    height: 23px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    position: relative;
    right: 30px;
    color: white;
    background-color: rgb(10, 10, 90);
    padding: 13px 25px;
    border-radius: 8px;
    font-family: Verdana;
}


/* Text CSS for Homepage 1st landing section below header section */
#title {
    width: 480px;
    font-size: 45px;
    color: rgb(10, 10, 90);
}

#headline {
    width: 480px;
    font-size: 21px;
    position: relative;
    top: -20px;
}

#explanation {
    font-size: 17px;
    font-weight: normal;
    text-align: justify;
    position: relative;
    top: -20px;
}

/* Sign Up-only button immediately below 1st landing section explanation */
#getustoseed {
    font-size: 14px;
    color: white;
    background-color: rgb(10, 10, 90);
    text-align: center;
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 8px;
    font-family: Verdana;
}

/* Img element CSS */
#logo {
    width: 150px;
}

#landing-image {
    width: 570px;
    height: 330px;
}


/* Text CSS for 2nd criteria section below 1st landing section */
#criteria-headline {
    width: 480px;
    font-size: 30px;
    color: rgb(10, 10, 90);
}

#criteria-explanation {
    width: 1200px;
    font-size: 17px;
    font-weight: normal;
    text-align: justify;
    position: relative;
    top: -30px;
}



/* REGISTRATION CSS */
/* CSS for top-level divs in Registration */
.registrationHeader {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: flex-start;
    align-items: center;
}

.registrationIntro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: center;
}

.registrationSurvey {
    display: flex;
    justify-content: center;
    position: relative;
    top: -60px;
}


/* Navbar CSS */
.registrationHeader .nav {
    width: 480px;
    height: 20px;
    background-color: white;
    text-align: center;
    position: relative;
    left: 364px;
}

.registrationHeader .nav a {
    font-size: 17px;
    color: rgb(17, 10, 56);
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
}

/* Makes button colour change when hovering */
.nav a:hover {
    color: white;
    background-color: rgb(10, 10, 90);
    padding: 13px 25px;
    border-radius: 8px;
}


/* Img element CSS */
#logo {
    width: 150px;
}

#upplane {
    position: absolute;
    top: -20px;
    left: 1000px;
    width: 300px;
}

#leftplane {
    position: absolute;
    top: 450px;
    left: 0px;
    width: 300px;
}


/* Intro text CSS */
.registrationIntro #intro-description {
    position: relative;
    top: -20px;
}


/* Survey headings CSS */
/* First Part */
.registrationSurvey .basic-section {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: relative;
    top: -20px;
}

.registrationSurvey #heading-label {
    display: flex;
    justify-content: center;
}


/* Second Part */
.registrationSurvey .location-section {
    display: flex;
    flex-direction: column;
}

#radio-label-2 {
    display: flex;
    justify-content: center;
}

.location-UK {
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;
    top: -20px;
}

.location-density {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
}


/* Third Part */
.registrationSurvey .hiring-section {
    display: flex;
    flex-direction: column;
}

#checkbox-label {
    display: flex;
    justify-content: center;
}

.checkbox-engineer {
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;
    top: -20px;
}

.checkbox-nonengineer {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
}


/* Fourth Part */
.registrationSurvey .submit-section {
    display: flex;
    flex-direction: column;
}

#pitch-label {
    display: flex;
    justify-content: center;
}

/* Submit button is stylised */
#submit {
    font-size: 14px;
    color: white;
    background-color: rgb(10, 10, 90);
    text-align: center;
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 8px;
    font-family: Verdana;
}



/* SERVICE CSS */
/* CSS for top-level divs in Service */
#serviceHeader {
    display: flex;
    flex-direction: row;
    padding-top: 23px;
    padding-left: 15px;

    justify-content: flex-start;
    align-items: center;
    z-index: 90;

    width: 1030px;
    background-color: white;

    position: fixed;
    top: 0px;
}

#serviceIntro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 140px;

    justify-content: center;
}

#serviceExplanation {
    display: flex;

    justify-content: flex-end;

    background-color: #272727;

    position: relative;
    top: 340px;
}

#serviceFooter {
    display: flex;
    flex-direction: column;

    justify-content: center;

    position: relative;
    top: 450px;
}


/* Header and Navbar CSS */
#serviceHeader .nav-bar {
    width: 480px;
    height: 20px;
    background-color: white;
    text-align: center;
    position: relative;
    left: 350px;
}

#serviceHeader .nav-bar a {
    font-size: 17px;
    color: rgb(17, 10, 56);
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
}

/* Makes button colour change when hovering */
#serviceHeader .nav-bar a:hover {
    color: white;
    background-color: rgb(10, 10, 90);
    padding: 13px 25px;
    border-radius: 8px;
}


/* Img and embedded video element CSS */
#header-img {
    width: 150px;
}

#question {
    width: 15%;

    position: absolute;
    top: -20px;
    left: 1050px;
}

#video {
    position: relative;
    right: -10px;
}


/* Intro text CSS */
#serviceIntro #intro-title {
    position: relative;
    top: -30px;
    left: 185px;
}

#serviceIntro #intro-description-1 {
    position: relative;
    top: -60px;
    left: 188px;

    font-weight: normal;
}

#serviceIntro #intro-description-2 {
    position: relative;
    top: -90px;
    left: 188px;

    font-weight: normal;
}

#serviceIntro #intro-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: relative;
    top: 220px;
}

#serviceIntro .intro-set {
    display: flex;
    flex-direction: column-reverse;
}


/* Footer CSS */
#serviceFooter #submit-section {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#heading-label {
    display: flex;

    justify-content: center;

    position: relative;
    top: -90px;
}

#email-label {
    position: relative;
    top: -95px;
}

#email {
    position: relative;
    top: -95px;
}

/* Submit button is stylised */
#submit {
    font-size: 14px;
    color: white;
    background-color: rgb(10, 10, 90);
    text-align: center;
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 8px;
    font-family: Verdana;

    width: 15%;

    position: relative;
    top: -75px;
}








