/* Bug 1: .homeAbout Ticker does not loop correctly such that text 
disappears at other end of page */
/* Bug 2: can't make breakpoints as simply as I could on a static page */



/* Page 0: UNIFORM HEADER CSS */
/* Navbar CSS */
.uniformHeader {
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-left: 35px;

    justify-content: space-between;
    align-items: center;
}

.uniformHeader .nav {
    width: 1000px;
    height: 20px;
    background-color: #fefdff;

    text-align: center;
}
  
.uniformHeader .nav a {
    padding: 10px 40px;

    color: rgb(217, 4, 41);

    font-size: 17px;
    text-align: center;
    text-decoration: none;
}

/* Makes button colour change when hovering */
.uniformHeader .nav a:hover {
    padding: 13px 15px;

    color: #fefdff;
    background-color: rgb(217, 4, 41);
    border-radius: 8px;
}

/* Log In button is at the right corner of uniform Header */
.uniformHeader #enroll1 {
    padding: 13px 25px;
    
    height: 23px;

    color: #fefdff;
    background-color: rgb(217, 4, 41);
    border-radius: 8px;

    font-size: 15px;
    font-family: Verdana;
    text-align: center;
    text-decoration: none;
}

/* Img element CSS */
.uniformHeader #logo {
    width: 150px;
    z-index: 100;
}



/* Page 1: HOMEPAGE CSS + HOMEPROCESS CSS */
/* CSS for top-level divs in Homepage */
.homeAbout {
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-top: 45px;

    position: relative;
    left: -1190px;
    top: 120px;
}

.homeProcess {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    
    align-items: center;

    width: 1200px;

    position: relative;
    left: -30px;
    top: 300px;
}

.homeContact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    
    align-items: center;

    position: relative;
    left: 100px;
    top: -120px;
}


/* Social proof ticker CSS */
@-webkit-keyframes ticker {
/* Bug 1: ROOT CAUSE */
    
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
}

@keyframes ticker {

    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

}

.about-social {
    box-sizing: content-box;
    padding-left: 100%;
    overflow: hidden;

    height: 4rem;
    background-color: rgba(#000, 0.9); 

    position: relative;
    top: -120px;
    left: 1100px;
}

.ticker {
    box-sizing: content-box;
    display: inline-block;
    padding-right: 100%;

    height: 4rem;
    line-height: 2rem;  

    white-space: nowrap;
    font-size: 20px;
    
    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-name: ticker;
            animation-name: ticker;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}


/* Homepage Hero section CSS */
/* Code block directly below moves entire left third of Homepage Hero section */
.homeAbout .hero-text {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    position: relative;
    top: -50px;
    left: -50px;
}

.homeAbout #title {
    color: rgb(43,45,66);

    position: relative;
    left: 50px;

    font-size: 32px;
}

.homeAbout #headline {
    color: rgb(43,45,66);

    position: relative;
    left: 60px;
    top: -30px;

    font-weight: normal;
}

.homeAbout #explanation {
    color: rgb(43,45,66);

    width: 350px;

    position: relative;
    left: 60px;

    font-size: 22px;
    text-align: center;
}


/* Sign Up-only button inside left third of Homepage Hero section */
.homeAbout #enroll2 {
    padding: 1px 10px;

    width: 30%;
    color: #fefdff;
    background-color: rgb(43,45,66);
    border-radius: 25px;

    position: relative;
    left: 150px;

    font-family: Verdana;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}


/* Homepage Hero section img and embedded video element CSS */
.homeAbout #person {
    width: 420px;
    height: 240px;

    position: relative;
    left: 20px;
}

.homeAbout #laptop {
    width: 1050px;
    height: 600px;

    position: relative;
    top: -20px;
    left: -120px;
}

.homeAbout #video {
    width: 670px;
    height: 400px;

    position: relative;
    top: 20px;
    left: -980px;
}


/* Homepage Details section CSS */
/* 3 image card section */
.homeProcess #process-cards {
    display: flex;
    flex-direction: row;

    position: relative;
    top: -180px;
    left: -350px;
}

.homeProcess .card-set {
    display: flex;
    flex-direction: column-reverse;

    align-items: center;
}

.homeProcess .cards {
    width: 350px;
}

.homeProcess #card-set1 {
    position: relative;
    left: 160px;
}

.homeProcess #card-set2 {
    position: relative;
    left: 210px;
}

.homeProcess #card-set3 {
    position: relative;
    left: 260px;
}


/* Homepage Details section img CSS */
.homeProcess #classmates {
    width: 1000px;

    position: relative;
    left: -500px;
}


/* Homepage Details section Course Method */
.homeProcess #process-course {
    display: flex;
    flex-direction: column;
    padding-top: 60px;

    align-items: center;

    width: 830px;
    height: 565px;
    color: #f5f3f4;
    background-color: #111111;

    position: relative;
    top: -625px;
    left: 400px;
}

.homeProcess #process-course .course-description {
    text-align: center;
    font-weight: normal;

    width: 300px;
}


/* Homepage Footer section CSS */
.homeContact #submit-section {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.homeContact #contact-label {
    display: flex;

    justify-content: center;

    position: relative;
    top: -90px;
}

.homeContact #contact-description {
    display: flex;

    justify-content: center;

    position: relative;
    top: -80px;

    font-weight: normal;
}

.homeContact #phone-label {
    position: relative;
    top: -75px;
}

.homeContact #phone {
    position: relative;
    top: -75px;
}

/* Submit button is stylised */
.homeContact #submit {
    padding: 1px 10px;

    width: 30%;
    color: #fefdff;
    background-color: rgb(43,45,66);

    position: relative;
    top: -35px;

    border-radius: 25px;
    font-family: Verdana;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}


/* iPhone 6 to 8 Plus breakpoint CSS for Webpage 1 */



/* Page 2: HOMECONTACT CSS */
/* CSS for top-level divs in HomeContact - special CSS necessary because of Position offset */
.homeContactSpecial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    
    align-items: center;

    position: relative;
    left: 100px;
    top: 200px;
}


/* HomeContact Footer section CSS - exact duplicate of Page 2 */
.homeContactSpecial #submit-section {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.homeContactSpecial #contact-label {
    display: flex;

    justify-content: center;

    position: relative;
    top: -90px;
}

.homeContactSpecial #contact-description {
    display: flex;

    justify-content: center;

    position: relative;
    top: -80px;

    font-weight: normal;
}

.homeContactSpecial #phone-label {
    position: relative;
    top: -75px;
}

.homeContactSpecial #phone {
    position: relative;
    top: -75px;
}

/* Submit button is stylised */
.homeContactSpecial #submit {
    padding: 1px 10px;

    width: 30%;
    color: #fefdff;
    background-color: rgb(43,45,66);

    position: relative;
    top: -35px;

    border-radius: 25px;
    font-family: Verdana;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}


/* iPhone 6 to 8 Plus breakpoint CSS for Webpage 2 */
@media only screen and (max-width: 375px) {
    .homeAbout {
        display: flex;
        flex-direction: row;
        padding: 30px;
        padding-top: 45px;
    
        width: 100px;

        position: relative;
        left: 200px;
        top: 120px;
    }
    
    .homeProcess {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px;
        
        align-items: center;
    
        width: 1200px;
    
        position: relative;
        left: -30px;
        top: 300px;
    }
    
    .homeContact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px;
        
        align-items: center;
    
        position: relative;
        left: 100px;
        top: -120px;
    }
}


/* Page 3: REGISTRATION CSS */
/* CSS for top-level divs in Registration */
.registrationIntro {
    display: flex;
    flex-direction: column;
    padding-top: 60px;

    justify-content: center;

    position: relative;
    left: -100px;
}

.registrationSurvey {
    display: flex;

    justify-content: center;

    position: relative;
    left: -100px;
}

#registrationLegal {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;

    align-items: center;

    position: relative;
    top: -50px;
    left: -100px;
}


/* Intro text CSS */
.registrationIntro #intro-description {
    position: relative;
    top: -20px;
}


/* Survey headings CSS */
/* First Part */
.registrationSurvey .basic-section {
    display: flex;
    flex-direction: column;
    margin: 100px;

    width: 300px;
    
    position: relative;
    top: -110px;
    left: 250px;
}

.registrationSurvey #heading-label {
    display: flex;

    justify-content: center;

    position: relative;
    top: -20px;
}


/* Second Part */
.registrationSurvey .location-section {
    display: flex;
    flex-direction: column;

    position: relative;
    top: -170px;
}

#radio-label-2 {
    display: flex;

    justify-content: center;
}

.location-UK {
    display: flex;
    padding: 15px;

    justify-content: center;

    position: relative;
    top: -20px;
}

.location-density {
    display: flex;

    justify-content: center;

    position: relative;
    top: -20px;
}


/* Third Part */
.registrationSurvey .hiring-section {
    display: flex;
    flex-direction: column;

    position: relative;
    top: -160px;
}

#checkbox-label {
    display: flex;

    justify-content: center;
}

.checkbox-engineer {
    display: flex;
    padding: 15px;

    justify-content: center;

    position: relative;
    top: -20px;
}

.checkbox-nonengineer {
    display: flex;

    justify-content: center;

    position: relative;
    top: -20px;
}


/* Fourth Part */
.registrationSurvey .submit-section {
    display: flex;
    flex-direction: column;

    align-items: center;

    position: relative;
    top: -150px;
}

#pitch-label {
    display: flex;
    
    justify-content: center;
}

/* Submit button is stylised */
.registrationSurvey .submit-section #submit {
    padding: 1px 10px;

    width: 10%;
    color: #fefdff;
    background-color: rgb(43,45,66);

    position: relative;
    top: 20px;

    border-radius: 25px;
    font-family: Verdana;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}


/* iPhone 6 to 8 Plus breakpoint CSS for Webpage 3 */



/* Webpage 4: APPLICATION ACCEPTANCE CSS */
/* CSS for top-level divs in Email Acceptance */
.acceptedIntro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 230px;

    align-items: center;

    position: relative;
    left: -100px;
}

.acceptedIntro #intro-description {
    font-weight: normal;
}



/* Webpage 5: APPLICATION INQUIRED CSS */
/* CSS for top-level divs in Cellphone Acceptance */
.inquiredIntro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 230px;

    align-items: center;

    position: relative;
    left: -100px;
}

.inquiredIntro #intro-description {
    font-weight: normal;
}






